body {
  background-color: #e0eefd;
  font-family:sans-serif;
  color: #36366e;
}

.header, .searchBtn {
  background-image: linear-gradient(to top, #6d83bb 0%, #2b33a5 100%);
}

.icon {
  height: 45px;
}

.forecastCard {
  background-color: #86a7dc;
}

.darkBlue {
  background-color: #6d83bb;
}

.lightBlue {
  background-color: #9ecafd;
  color: #36366e;
}

h1 {
  text-shadow: 2px 2px black;
  font-weight:900;
}

h3 {
  text-shadow: 1px 1px #86a7dc;
}
